
.perfect-match{
  display: none;
}

body{
  display:grid;
  height: 100vh;
  width: 100vh;
  margin:25%;
  background-color: rgb(218, 212, 204);
}

button{
  border-radius: 13%;
  border-style:none;
  font-size: 15px;
}

.matches{
  display: none;
}