
.perfect-match{
  display: none;
}

body{
  display:grid;
  height: 100vh;
  width: 100vh;
  margin:25%;
  background-color: rgb(218, 212, 204);
}

.btn-default{
  border-radius: 5%;
  border-style:none;
  font-size: 15px;
  background-color: rgb(47, 105, 167);
  color:white;
}

.matches{
  display: none;
}